/* red error a71111, background grey #f5f5f5 */


body {
font-family: "PT Serif";
background-color: #f5f5dc; 
color: #333; 
line-height: 1.5;
}


h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
    background-color: darkgreen; /* set background color */
    border: none; /* remove border */
    color: white; /* set text color */
    padding: 12px 24px; /* set padding */
    text-align: center; /* center text */
    text-decoration: none; /* remove underline */
    display: inline-block; /* make button an inline block */
    font-size: 16px; /* set font size */
    border-radius: 4px; /* add rounded corners */
    cursor: pointer; /* add hover effect */
  }
  
  button:hover {
    background-color: #3e8e41; 
  }
  